*{
  font-family: 'Exo', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #1A263D;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  height: 70px;
}

.logo{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo-text{
  color: #FFE160;
  font-size: 24px;
  font-weight: 100;
}